

  .gadget-title {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position: relative;
    background-color: #e4e5ef;
    height: 45px;
    border-bottom: 1px solid #c1c1c100;
    padding: 0;
  }
.gadget-tabs-container ul.gadget-tabs>li {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #3d4b5f;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #757da224;
}


#r1 {
    background: #e5ec1180;
}

#r2 {
      background: #00ffff82;
}

#r3 {
    background: #00ffff82;
}

#r4 {
    background: #00ffff82;
}

.h3, h3 {
    font-size: 15px;
    margin-left: 45%;
    color: white;

}

.h1, h1 {
    font-size: 55px;
    margin-left: 47%;
color: white;
}

.gadget-tabs-content-container .tab-content, .gadget-tabs-content-container .tab-content .tab-pane {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(https://beaches.lacounty.gov/wp-content/uploads/2016/10/Beach_Volleyball_Courts-1024x683.jpg);
}

label {
  color: white;
}
                 